@model SIAMVC.Models.IndexViewModel
@{
	var cssClass = "govuk-heading-l";
	var baseCssClasses = "govuk-input";
	ViewData["Title"] = "Search";

}

<div class="text-center">
	<partial name="SearchForm" model="Model" />

	@if (!string.IsNullOrEmpty(Model.Message))
	{
		<span class="govuk-caption-l">@Html.DisplayFor(model => model.Message)</span>
	}

	@if (Model.Photographs != null)
	{
		@if (Model.Photographs.Count > 0)
		{
			<p class="govuk-caption-l">@Model.Photographs.Count images found</p>
		}

		foreach (var photograph in Model.Photographs)
		{
			<p>
				<a href="@Url.Action("Photograph", "Home", new { accessionno = photograph.AccessionNo.Trim(), searchString = photograph.SearchString.Trim(), searchOption = photograph.SearchOption.Trim(), searchArea = photograph.SearchArea.Trim() })" class="govuk-link">
					<img src=@photograph.url onError="this.onerror=null;this.src='../assets/images/notfound.jpg';" />@photograph.Title
				</a>
			</p>
		}
	}
</div>
